body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

main{
    flex: 1;
}    

h1{
    color: darkblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 24px;
}

pre{
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    font-family: Consolas, monospace;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

ul{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

a{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(73, 73, 77);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
    
label{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}

button{
    padding: 5px 10px;
    background-color: rgb(155, 155, 163);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}

footer{
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    bottom: 0;
    width: 97%;
}

#result{
    margin: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 80%;
    text-align: center;
}